VISA_EMAIL=tu_email@example.com
VISA_PASSWORD=tu_password_de_usvisa
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
NOTIFY_EMAIL=tu_email@gmail.com
TARGET_DATE=2026-09-17
APPOINTMENT_URL=https://ais.usvisa-info.com/en-es/niv/schedule/74726699/appointment?confirmed_limit_message=1&commit=Continue
